@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(to bottom right, #031149,#222);
    min-height: 100dvh;
    min-width: 100dvw;
    overflow-x: hidden;
}
.even{
    display: grid;
    grid-template-columns: 60% 40%;
}
.odd{
    display: grid;
    grid-template-columns: 40% 60%;
}
.encloser{
    margin: 3rem 0;
    align-items: center;
    justify-content: center;
    min-width: 100dvw;
    min-height: 80dvh;
}
.left{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content h1{
    text-align: center;
    color: orange;
    padding: 1.3rem;
    position: relative;
}
.content h1::after{
    content: '';
    position: absolute;
    width: 0;
    background: yellow;
    border-radius: 2rem;
    animation-name: mover;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    height: .8dvh;
    top: 4.3rem;
    left: 5rem;
}
@keyframes mover {
    to{
        width: 5dvw;
    }
}
.content p{
    color: wheat;
    padding: .5rem 1.3rem;
    font-size: 1.29rem;
    text-align: center;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lft-img{
    margin-left: 2rem;
}
.rt-img{
    margin-right: 2rem;
}
.img-container img{
    width: 36dvw;
    background: aliceblue;
    border-radius: 50%;
    animation-name: imgAppear;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes imgAppear {
    from{
        transform: scale(0) translate(2000px);
    }
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: cntAppear;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes cntAppear {
    from{
        transform: scale(0) translate(-2000px);
    }
}
.content a{
    text-align: center;
    padding: .8rem;
    background: blue;
    margin-top: 2rem;
    color: aqua;
    border-radius: 2rem;
    border: .01px solid aqua;
    box-shadow: 1px 1px 40px aqua;
    transition: all 1s;
}
.content a:hover{
    color: blue;
    background: aqua;
    box-shadow: 1px 1px 40px blue;
    border: .01px solid blue;
}