@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header{
    width: 100dvw;
    height: 13dvh;
    /* border: 2px solid red; */
    padding: .2rem 1rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    align-items: center;
}
.logo-container span{
    font-size: 1.6rem;
    font-weight: 600;
    color: wheat;
    letter-spacing: 1px;
}
.h-logo{
    width: 100px;
}
.head-link{
    color: orange;
    padding: .3rem;
}
.head-link:hover{
    color: yellow;
}
.active{
    background-color: orange;
    color: #222;
    font-weight: 600;
    padding: .3rem;
    border-radius: .6rem;
    transition: all 1s;
}
.active:hover{
    color: #223;
    box-shadow: 1px 1px 40px orange;
}
.tab-container a{
    letter-spacing: 1px;
    font-size: 1.3rem;

}
a{
    text-decoration: none;
    font-size: 1.2rem;
}
.tab-container{
    display: flex;
    justify-content: space-evenly;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}
.login-container a{
    padding: 1rem;
    background: blue;
    color: aqua;
    border-radius: 1.6rem;
    transition: all 1s;
    border: .1px solid blue;
    box-shadow: 1px 1px 40px aqua;
}
.login-container a:hover{
    background: aqua;
    color: blue;
    border: .1px solid aqua;
    box-shadow: 1px 1px 40px blue;
}
hr{
    width: 60dvw;
    text-align: center;
    border-radius: 50%;
    height: 1px;
    margin: 0 auto;
    background: gold;
    margin-top: .5rem;
    animation-name: hrExpand;
    animation-duration: 1.4s;
    animation-direction: alternate;
}
@keyframes hrExpand {
    from{
        width: 0;
    }
}
