@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background:linear-gradient(135deg,#0b0f33, #3f2b96);
    color: white;
    margin:0;
    font-family:"Poppins", sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    text-shadow: 0 0 4px gold;
}
h3{
    text-shadow:  0 0 6px rgb(231, 205, 53);
}

.login-details{
    background-color:#0b0f33;
    border: 1px solid white;
    border-radius: 16px;
    padding: 20px 30px;
    width: 400px;
    box-shadow: 0 0 10px white;
}

.login-details h3{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
} 

.login-details:hover{
    box-shadow: 0 0 5px white;
}

.input-val{
    display: flex;
    align-items: center;
    background-color:darkorange;
    border-radius: 12px;
    padding: 16px 20px;
    margin-bottom: 20px;
    transition: border-color 0.4s;
}

.input-val:focus-within{
    border-color:pink;
    box-shadow:0 0 10px rgba(255,255,255,0.8);
}

.input-val input{
    background: none;
    border: none;
    flex:1;
    font-size: 16px;
    outline: none;
    /* color: white; */
    color:black;
}

.input-val input::placeholder{
    /* color: rgba(255,255,255,0.8); */
    color: black;
}

button{
      padding: 17px;
      margin: 15px;
      font-weight: bold;
      border-radius: 16px;
      border:none;
      background:linear-gradient(135deg, dodgerblue, blue);
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: box-shadow 0.3s ease;
}

button:hover{
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.8);
}
