body{
    background: linear-gradient(to bottom right, #031149,#222);
    min-height: 100dvh;
    min-width: 100dvw;
    overflow-x: hidden;
}
.login-container a{
    animation-name: present;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes present {
    from{
        box-shadow: none;
        border: 1px solid aquamarine;
    }
    to{
        box-shadow: 0px 0px 10px aqua;
    }
}
.top-container{
    display: grid;
    min-height: 80dvh;
    grid-template-columns: 2.5fr 3fr;
    justify-content: center;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.top-container .col img{
    background: aqua;
    margin-top: 3rem;
    border-radius: 50%;
    width: 32dvw;
}
.col-form h1{
    color: aqua;
    letter-spacing: 2px;
}
.col-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(100px);
    border-radius: 2rem;
    box-shadow: 0 0 8px lightblue;
    border: .5px solid #222;
    margin: .5rem;
    width: 43dvw;
    animation-name: colF;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
@keyframes colF {
    from{
        transform: scale(0) rotate(-30deg);
    }
}
.form-cont{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fld{
    display: grid;
    grid-template-columns: .5fr 3fr;
    justify-content: center;
    background: transparent;
    padding: 1rem;
    padding-bottom: .1rem;
    border-radius: 2rem;
    align-items: center;
    gap: 0rem;
    width:33dvw;
}
.fld i{
    color: aqua;
    font-size: 1.5rem;
    background-color: #223;
    padding: .8rem;
    border-radius: 50%;
    border: .1px solid aquamarine;
}
input[type='text'], input[type='password'], input[type='email']{
    outline: none;
    border: .1px solid aquamarine;
    background: #223;
    border-radius: 2rem;
    height: 2.5rem;
    padding: .01rem 1.2rem;
    font-size: 1.1rem;
    color: azure;
    font-weight: 600;
    letter-spacing: 1px;
}
input::placeholder{
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.dyn-btn button{
    position: relative;
    z-index: 1;
    bottom: 1rem;
    border-radius: 2rem;
    border: none;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding: .4rem .6rem;
    margin-top: 2.5rem;
    background: linear-gradient(to bottom right, orange,wheat);
    overflow: hidden;
}
.dyn-btn button::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: var(--fill-width, 0%);
    background: var(--before-color,linear-gradient(to bottom right, aquamarine,aqua));
    z-index: 0;
    transition: width 0.3s ease;
}
.dyn-btn button span {
    position: relative;
    z-index: 1;
}
.dyn-btn{
    display: flex;
    justify-content: space-around;
    min-width: 30dvw;
}
.texter{
    display: none;
    padding: .8rem;
    background: wheat;
    margin-top: 1rem;
    border-radius: 2rem;
    border: .1px solid yellow;
}
.status{
    color: red;
    font-weight: 900;
    letter-spacing: 1.4px;
    text-decoration: underline;
}
.msg{
    padding-left: .5rem;
}
#nxtButton{
    cursor: pointer;
    transition: 1s;
    display: none;
    background: aqua;
}
.animate{
    animation-name: imgAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
@keyframes imgAni {
    from{
        transform: scale(0);
    }
}